.git/
.vs/
Debug/
Release/
temp/
client/Debug/
client/Release/
client/x64/
server/Debug/
server/Release/
server/x64/
server/logs
build/
.vscode/
CMakeFiles/
CMakeCache.txt
Makefile
Character.json
cmake_install.cmake
magic.json
niba-client
niba-server
logs/
